<h1>Welcome to WeFarm</h1>
<p>You can buy a lots of fresh and local farm-to-fork produce here. If you are a farmer and want to sell your produce, please register.</p>

<br />

<h3>Our farmers</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th>Farmer</th>    
    <th>Farm</th>
    <th>Produce</th>
    <th>Produce price</th>
  </tr>

<% @farmers.each do |farmer| %>
  <tr>
    <td><%= link_to farmer.name, farmer %></td>    
    <td><%= link_to farmer.farm, farmer %></td>
    <td><%= farmer.produce %></td>
    <td><%= number_to_currency(farmer.produce_price, :unit => "$") %></td>
  </tr>
<% end %>
</table>
